{% extends 'base.html' %}
{% block title %} Edit profilů {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div unicorn:view>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Změna
              <span class="text-primary">údajů</span>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                
                {% if message %}
                  <div class="alert alert-danger" role="alert">
                      {{ message }}
                  </div>    
                {% else %}
                  <ul class="list-group">
                      {% for user in users %}
                        <li class="list-group-item">
        
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <p align="left">{{user.username}}</p>
                                </div>
                                
                                <div class="d-flex">
                                  <div class="p-1">
                                    <button unicorn:click="switchmod({{user.pk}})"
                                        {% if user.is_staff %}
                                            class="btn btn-sm btn-success">Moderátor <i class="bi bi-check"></i>
                                        {% else %}
                                            class="btn btn-sm btn-danger">Moderátor <i class="bi bi-x"></i>
                                        {% endif %}
                                    </button>
                                  </div>
                                  <div class="p-1">
                                      <a href="{% url "edit_profile" id=user.pk %}" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                                  </div>
                                  <div class="p-1">
                                      <button class="btn btn-sm btn-danger" unicorn:click="deleteUser({{user.pk}})"><i class="bi bi-trash"></i></button>
                                  </div>

                                </div>
                            </div>
                        
                   
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
              
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}