{% extends 'base.html' %}
{% block title %} Vytvoření atributu {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div unicorn:view>
<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Přidat 
              <span class="text-primary">atribut</span>
            </h1>
         </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                {% if user.is_authenticated %}
                  <form method="post">
                    {% csrf_token %}{{form|crispy}}
                    <button type="submit" class="btn btn-success">Přidat atribut</button>
                    <a href="{% url "index" %}" class="btn btn-danger">Odejít</a>
                 </form>
                  {% else %}
                  <div class="alert alert-danger" role="alert">
                    <p>Nemáte oprávnění vidět tuhle stránku.</p>
                  </div>   
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}
