{% extends 'base.html' %}
{% block title %} Samosběr {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="d-grid gap-3">
            {% if user.is_authenticated %}

            <div class="text-center">
                <h1>Vytvořit <span class="text-primary">nabídku</span> </h1>  
                <p>Dodatečné informace k samosběru<p>
            </div>
            <form method="post">
                {% csrf_token %}{{form|crispy}}
                <button type="submit" class="btn btn-success">Vytvořit samosběr</button>
            </form>
                <hr class="hr hr-blurry" />
                {% else %}
                <div class="alert alert-danger" role="alert">
                  Nemáte oprávnění vidět/upravovat tento profil.
                  </div> 
                {% endif %}
        </div>
    </div>
</section>

{% endblock %}